<p>inbuild-pipe works!</p>

<h2>number_pipe | percent_pipe | currency_Pipe(Default_currency is =$) | date_pipe | </h2>
<!-- 
 syntax=> |pipe_name
 Angular.io
 -->
<!--  
  <h2>{{strData}}</h2>

 <h2> {{strData | lowercase }} </h2>
 <h2> {{strData | uppercase }} </h2>
 <h2> {{strData | titlecase }} </h2>

 <h2>{{strData  | slice:1:4}}</h2>
 <h2>{{strData  | slice:0:9}}</h2>
 <h2>{{strData  | slice:1}}</h2>
 <h2>{{strData  | slice}}</h2> -->

 <!-- <h2>percent pipe</h2> -->
<!-- 
 <h2> {{0.25   | percent}}</h2>
 <h2>{{0.025   | percent:'1.1'}}</h2>
 <h2>{{0.091   | percent:'1.2'}}</h2>
 <h2>{{ 0.0912 | percent:'1.2'}}</h2>
 <h2>{{0.091   | percent:'1.1'}}</h2> 
 <h2>{{0.0299 | percent:'1.1'}}</h2> -->

 <!-- <h2>currency_pipe (Default_currency is $)</h2> -->
<!-- 
 <h2>{{0.25 | currency}}</h2>
 <h2>{{25 | currency:'INR'}}</h2>
 <h2>{{ 25 |  currency : 'INR' : 'code'}}</h2>
 <h2>{{45 | currency:'GBP'}}</h2> -->

<!-- <h2>number pipe</h2> -->
<!-- 
<h2>{{  5.678 | number:'1.2-3'}}</h2>
before point 1 digit and after point at least two digits or at most 3 digits
<h2>{{5.67856 | number:'1.2-3'}}</h2>
<h2>{{5.678556 | number:'2.2-3'}}</h2>
<h2>{{5.6 |number:'2.2-3'}}</h2>
<h2>{{5.555556| number:'2.2-3'}}</h2>
<h2>{{6.555500| number:'2.2-3'}}</h2>
<h2>{{6.999500| number:'2.2-3'}}</h2>
<h2>{{65.678| number:'1.0'}}</h2>
<h2>{{num1 |number:'2.2-3'}}</h2> -->

<!-- <h2>date_pipe</h2> -->
<!-- 
<h2>{{mydate}}</h2>
<h2>{{mydate | date : 'shortDate'}}</h2>
<h2>{{mydate | date : 'longDate'}}</h2>
<h2>{{mydate | date :'mediumDate'}}</h2>
<h2>{{mydate | date :'mediumDate' | uppercase}}</h2>
<h2>{{mydate | date :'mediumDate' | lowercase}}</h2>
<h2>{{mydate | date : 'dd-MM-yyyy'}}</h2>
<h2>{{mydate | date : 'yyyy-MM-dd'}}</h2>
<h2>{{mydate | date : 'dd/MM/yyyy'}}</h2>
<h2>{{mydate | date : 'dd'}}</h2>
<h2>{{mydate | date : 'MM'}}</h2>
<h2>{{mydate | date : 'yy'}}</h2>
<h2>{{mydate | date :'longDate' | uppercase}}</h2>
<h2>{{mydate | date :'longDate'| lowercase }}</h2> -->
<!-- //chaining_of_pipe=second pipe will  be applay on the output of last pipe we have applied -->

















