<h1>This Is First Angular Application..!</h1>


<!-- <app-student></app-student> -->
<!--<app-stringinterpollation></app-stringinterpollation> -->
<!--<app-propertybinding></app-propertybinding>-->
<!--<app-stylebinding></app-stylebinding> -->
<!--<app-classbinding></app-classbinding> --> 
<!--<app-event-binding></app-event-binding>-->
<!--<app-eventbinding2></app-eventbinding2>-->
<!--<app-if-directive></app-if-directive>-->
 <!-- <app-for-directive></app-for-directive> -->
 <!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-assignment></app-assignment> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-custom-service></app-custom-service> -->
<!-- <app-http-service></app-http-service> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-bootstrap-demo></app-bootstrap-demo> -->
<app-tdf-demo></app-tdf-demo>