<p>eventbinding2 works!</p>

<!--Change Event=> usually apply on input tag -->
<input type="text" #input1 (change)="onChange(input1)"><br>
<br>

<!--Key Up Event-->
<input type="text"  (keyup)="onKeyup()" placeholder="key up Event"  ><br>
<br>

<!--Key Down Event-->
<input type="text" (keydown)="onKeyDown()" placeholder="key Down Event"><br>
<br>

<button (click)="res_mult=2*2">Multiplication</button>
<br>
{{res_mult}}

<h2>Two Way Binding</h2>

<input type="text" [(ngModel)]="name"
placeholder="Enter The User name">
<br>
{{name}}
